@inherits LayoutComponentBase

@using BlazorMusic.Client.Components

<div class="page">
    <main>
        <div class="top-row px-4">
            <h1>Blazor Music Histogram</h1>
            <TogglePreview />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
